@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Resume</h1>
    <p class="lead">This is a project to build a resume based on learned skills</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>More to come on this</h2>
            </div>
    
</div>